{% extends "templates/web.html" %}

{% block page_content %}
    <h4>{{ doc.name }}</h4>
    <br>
    <!-- Flight Details -->
    <h6>Flight Details</h6>
    {% set airplane = doc.airplane %}
    {% set airline = frappe.db.get_value('Airplane', airplane, 'airline') %}
    <ul>
        <li>Airline: {{airline}}</li>
        <li>{{ doc.source_airport_code }} -> {{ doc.destination_airport_code }}</li>
        <li>{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} | {{ doc.time_of_departure }}</li>
        <li>Duration: {{ frappe.utils.format_duration(doc.duration) }}</li>
    </ul>
    <a 
        href="book-flight-ticket/new?flight={{ doc.name }}" 
        class="btn btn-primary">Book Flight
    </a>
{% endblock %}

